# Default ignored files
/shelf/
/workspace.xml
/markdown.xml
/usage.statistics.xml
/tasks.xml
/navEditor.xml
/assetWizardSettings.xml
/caches/
/compiler.xml
/deploymentTargetSelector.xml
/androidTestResultsUserPreferences.xml
/deploymentTargetDevices.xml
/libraries/
/modules.xml
